html{
	font-family: sans-serif;
	height: 100%;
}

body{
	position: relative;
	height: 100%;

}


.icons{
	cursor: pointer;
	padding: 0px 0px 0px 8px;

}


.editIcons{
	display: none;
	
}

.initialIcons{
		padding: 3px;
}

.fa.fa-check{
	display: none;
	position: absolute;
	top: 55%;
	left: 10%;
	cursor: pointer;	
	color: white;
	background: darkcyan;
	
}

#checkIcon{
	background: darkcyan;
	opacity: 0.9;
	border: solid 1px gray;
	position: absolute;
	top: 55%;
	left: 10%;

}



.fa-picture-o{
	color: cadetblue;
}

.fa-times{
	color: crimson;
}

.fa-pencil-square-o{
	color: cadetblue;
}


.itemsList li{
	list-style-type: none;
	padding: 2px;

}

.textItems{
	color: darksalmon;
	padding: 3px;

}

#editInput{
	display: none;
	color:burlywood;

}

.fa-floppy-o{
	color: darkgoldenrod;
}

.fa-undo{
	color: darkgray;
}

.fa.fa-file-image-o{
	margin: 10px;
	color: darkcyan;
	font-size: 12px;
	display: none;

}

.fa-window-close{
	position: absolute;
	right: 0px;
	top: 0px;
	color: cadetblue;
}






.imageContainer{
	display: none;
	background-position: center;
	width: 40%;
	height: 50%;
	position: relative;
	background-repeat: repeat;
	left: 50%;
	border-radius: 15px;
}

#image{
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 0.5;
	background: white;
	border-radius: 8px;
}




#addImageButton{
	background-color: darkcyan;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	padding: 15px 32px;
	color: white;
	font-weight: bold;
	position: absolute;
	top: 40%;
	left: 40%;
	right: 40%;

}

#inputURL{
	display: none;
	position: absolute;
	top: 45%;
	left: 10%;
	width: 80%;
}